/* Style the header */
.header {
  background: clear;
  color: white;
  z-index: 1;
  width: 100%;
  position: fixed;
}

/** MARK: Scrolling CSS + Animations */

/* Page content */
.content {
  padding: 0px;
}

/* The sticky class is added to the header with JS when it reaches its scroll position */
.sticky {
  top: 0;
  background: black;
}

/* Add some top padding to the page content to prevent sudden quick movement (as the header gets a new position at the top of the page (position:fixed and top:0) */
.sticky + .content {
  padding-top: 102px;
}

/** MARK: Header Image + List Organization */

.header ul {
    margin-top: 50px;
    margin-right: 20px;
    text-align: center;
    float: right;

}

.header li {
    display: inline-block;
}

.header li a {
    color: white;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    padding-right: 30px;
    text-decoration: none;
    opacity: 1.0;
}

#nav-logo {
    height: 100px;
    width: 100px;
    padding: 10px 0px 10px 40px;
}
