/* Style the header */
.header {
    background: clear;
    color: white;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
}

/** MARK: Scrolling CSS + Animations */

/* Page content */
.content {
    position: relative;
    margin-top: -10px;
    margin-left: -10px;
    margin-right: -10px;
}

/* The sticky class is added to the header with JS when it reaches its scroll position */
.sticky {
    background: black;
    top: 0;
}

/** MARK: Header Image + List Organization */

.header ul {
    margin-right: 20px;
    margin-top: 50px;
    text-align: center;
    float: right;
}

.header li {
    display: inline-block;
}

.header li a {
    color: white;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    padding-right: 30px;
    text-decoration: none;
    opacity: 1.0;
}

.header li a:hover {
    opacity: 0.7;
}

#nav-logo {
    height: 100px;
    width: 100px;
    padding: 10px 0px 10px 40px;
}
