{% extends "base.html" %}

{% block page_title %} About {% endblock %}

{% block content %}
<div class="home-image-container" style="padding-bottom:50px;">
    <img src="/static/images/About/AboutPagePic1.jpg"/>
    <div class="centered">
        About
    </div>
</div>

<div class="services-side-by-side">
    <img src="/static/images/About/AboutPagePic2.jpeg" class="services-image-description" style="float:left;"/>
    <h4 style="text-align:center;">Our Mission</h4>
    <p>Valley Consulting Group (VCG) is a UC Berkeley student-run not-for-profit management consulting firm that works exclusively with technology companies in the Silicon Valley. VCG aims to provide strategic solutions to vital business challenges faced by its clients.</p>
    <p>Each project cycle, our teams take on a new slate of strategy consulting engagements with industry-leading technology companies. Past clients include Google, Microsoft, and Airbnb.</p>
</div>

<p class="services-line"></p>

<div class="services-side-by-side">
    <img src="/static/images/About/AboutPagePic3.jpeg" class="services-image-description" style="float:right;"/>
    <h4 style="text-align:center;">Our Culture</h4>
    <p>VCG promotes close-knit bonds amongst our members while providing countless opportunities to learn and grow together as a collective family. While we do host multiple fun socials every week, the vast majority of our meetups are spontaneous and casual hangouts. Whether it's hikes up the Big C, bar hopping around SF, basketball at the RSF, beachside retreats, road trips to LA, rock climbing, backpacking & camping, or professional development events, our culture cultivates an unforgettable bonding experience.</p>
</div>

<p class="services-line"></p>

<div class="services-side-by-side" style="padding-bottom:50px;">
    <img src="/static/images/About/AboutPagePic4.jpeg" class="services-image-description" style="float:left;"/>
    <h4 style="text-align:center;">Our Alumni</h4>
    <p>VCG members have leveraged the skills and knowledge gained during their time here to excel in successful careers at top institutions such as Google, Amazon, Deloitte, and the U.S. Department of Defense.</p>
    <p>VCG prides itself on an extremely active alumni network where members continue to give back to VCG long after they graduate. Our alumni regularly interact with current members, providing valuable mentorship opportunities, leading workshops, and offering introductions to their own networks.</p>
</div>

{% endblock content %}
