<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="author" content="Valley Consulting Group">
    <meta name="description" content="Non-profit management consulting form for leading companies in the Silicon Valley">

    <title>{% block page_title %}Home{% endblock page_title %} | Valley Consulting</title>
</head>

<body>
    <div>
        <main>
            {% block content %}
            <p> Default content to be displayed </p>
            {% endblock content %}
        </main>
    </div>
</body>

</html>
