{% extends "base.html" %}

{% block page_title %} Contact {% endblock %}

{% block content %}

<div class="home-image-container" style="padding-bottom:50px;">
    <img src="/static/images/Contact/ContactPagePic1.jpg"/>
    <div class="centered">
        Contact
    </div>
</div>

<p class="services-line"></p>
    <h2 style="text-align:center;">Executive Board</h2>
<p class="services-line"></p>

<!-- Executive Board Images Here  -->
<div class="row-contact">
    <div class="col-contact">
        <img src="/static/images/Contact/ExecPics/President.jpeg" alt="Neil" style="width:100%">
        <p>Neil Tagare</p>
        <p>President</p>
        <p>Economics, Statistics</p>
        <a href="mailto:neil.tagare@vcg.berkeley.edu" target="_blank">neil.tagare@vcg.berkeley.edu</a>
    </div>
    <div class="col-contact">
        <img src="/static/images/Contact/ExecPics/Internal.jpeg" alt="Isabel" style="width:100%">
        <p>Isabel Zou</p>
        <p>VP, Internal</p>
        <p>Business, Data Science</p>
        <a href="mailto:isabel@vcg.berkeley.edu" target="_blank">isabel@vcg.berkeley.edu</a>
    </div>
    <div class="col-contact">
        <img src="/static/images/Contact/ExecPics/Development.jpeg" alt="John" style="width:100%">
        <p>John Yang</p>
        <p>VP, Development</p>
        <p>EECS</p>
        <a href="mailto:john@vcg.berkeley.edu" target="_blank">john@vcg.berkeley.edu</a>
    </div>
    <div class="col-contact">
        <img src="/static/images/Contact/ExecPics/Projects.jpeg" alt="Evelyn" style="width:100%">
        <p>Evelyn Chan</p>
        <p>VP, Projects</p>
        <p>Business, Computer Science</p>
        <a href="mailto:evelyn@vcg.berkeley.edu" target="_blank">evelyn@vcg.berkeley.edu</a>
    </div>
</div>

<p class="services-line"></p>
    <h2 style="text-align:center;">Project Leaders</h2>
<p class="services-line"></p>

<!-- Project Leader Images Here -->
<div class="row-contact">
    <div class="col-contact">
        <img src="/static/images/Contact/PLPics/Aditya.jpeg" alt="Aditya" style="width:100%">
        <p>Aditya Iyer</p>
        <p>Business, EECS</p>
        <a href="mailto:aditya@vcg.berkeley.edu" target="_blank">aditya@vcg.berkeley.edu</a>
    </div>
    <div class="col-contact">
        <img src="/static/images/Contact/PLPics/Taanvi.jpeg" alt="Taanvi" style="width:100%">
        <p>Taanvi Malholtra</p>
        <p>Business, Economics</p>
        <a href="mailto:taanvi@vcg.berkeley.edu" target="_blank">taanvi@vcg.berkeley.edu</a>
    </div>
    <div class="col-contact">
        <img src="/static/images/Contact/PLPics/Tyler.jpeg" alt="Tyler" style="width:100%">
        <p>Tyler Larsen</p>
        <p>Statistics</p>
        <a href="mailto:tyler@vcg.berkeley.edu" target="_blank">tyler@vcg.berkeley.edu</a>
    </div>
    <div class="col-contact">
        <img src="/static/images/Contact/PLPics/Tejas.jpeg" alt="Tejas" style="width:100%">
        <p>Tejas Priyadarshan</p>
        <p>Computer Science, Statistics</p>
        <a href="mailto:tejas@vcg.berkeley.edu" target="_blank">tejas@vcg.berkeley.edu</a>
    </div>
</div>

<p class="services-line"></p>

<h2 style="text-align:center;">Questions?</h2>

<p style="text-align:center;">For all questions regarding recruitment, please contact <a href="mailto:recruit@vcg.berkeley.edu" target="_blank">recruit@vcg.berkeley.edu</a>. For all questions regarding sponsorships, client project opportunities, or other general inquiries, please contact info@vcg.berkeley.edu.</p>

{% endblock content %}
