{% extends "base.html" %}

{% block page_title %} Home {% endblock %}

{% block content %}
<div class="home-image-container">
    <img src="/static/images/Home/HomePagePic1.jpg"/>
    <div class="centered">
        Valley Consulting Group
        <br>
        STRATEGY CONSULTING IN TECH
    </div>
</div>

<div style="text-align:center;">
  <h1>What is Valley Consulting Group?</h1>
  <p>Valley Consulting Group (VCG) is a UC Berkeley student-run, not-for-profit management consulting organization. We provide strategic solutions to vital business challenges faced by our clients. VCG is composed of intelligent, motivated UC Berkeley undergraduates looking to make an impact. Each project cycle, our teams take on a new slate of consulting engagements with leading technology companies in the Silicon Valley.</p>
</div>

<div class="home-image-container">
    <img src="/static/images/Home/HomePagePic2.jpg"/>
    <div class="centered">
        Our Mission
        <br>
        PASSION FOR TECHNOLOGY
    </div>
</div>

<div style="text-align:center;">
  <h1>What do we do?</h1>
  <p>Driven by our passion for technology, VCG has the privilege of solving some of the most cutting edge challenges faced by industry-leading tech companies. Our teams undertake semester-long engagements that provide our clients with unique insights and actionable recommendations.</p>
  <!-- TODO(john-b-yang): Recommendations section here -->
</div>

<div class="home-image-container">
    <img src="/static/images/Home/HomePagePic3.jpg"/>
    <div class="centered">
        Our Family
        <br>
        CREATE UNFORGETTABLE MEMORIES
    </div>
</div>

<div style="text-align:center;">
  <h1>Why should I join?</h1>
  <p>VCG is a diverse yet close-knit group of individuals that enjoy learning and laughing together. We pride ourselves in creating a comfortable environment where our members have to opportunity to grow both personally and professionally. Come join our family and transform your undergraduate experience through lifelong friendships, networking opportunities, personal mentorships, academic resources, and more!</p>
</div>
{% endblock content %}
