{% extends "base.html" %}

{% block page_title %} Join Us {% endblock %}

{% block content %}

<div class="home-image-container" style="padding-bottom:50px;">
    <img src="/static/images/Join/JoinPagePic1.jpg"/>
    <div class="centered">
        Join Us
    </div>
</div>

<h2 style="text-align:center;">Subscribe to Our Email List</h2>

<p style="text-align:center;">Sign up with your email address below to receive announcements, updates, and reminders regarding recruitment events and deadlines.</p>

<p class="services-line"></p>

<div class="services-side-by-side">
    <img src="/static/images/Join/JoinPagePic2.jpg" class="services-image-description" style="float:left;"/>
    <h4 style="text-align:center;">Passion for Technology</h4>
    <p>VCG engages in projects with technology companies of all industries in the Silicon Valley. Projects are carefully evaluated and selected based on their value added to our members. Students from all backgrounds are welcome to join as long as you share an interest in emerging technologies and the modernized world.</p>
    <p>No prior business or technical experience is required – all you need is a positive attitude and a willingness to learn!</p>
</div>

<p class="services-line"></p>

<div class="services-side-by-side">
    <img src="/static/images/Join/JoinPagePic3.jpeg" class="services-image-description" style="float:right;"/>
    <h4 style="text-align:center;">Career Guidance</h4>
    <p>VCG strives to ensure the success of all of its members in the professional world. All new members go through an intensive 10-week curriculum which thoroughly prepares them for challenges faced not only as a strategy consultant, but also as a leader in the workplace. VCG members hail prestigious internships, research positions, and full-time jobs at top companies year after year, and we provide all new members with the resources necessary to achieve the same.</p>
</div>

<p class="services-line"></p>

<div class="services-side-by-side">
    <img src="/static/images/Join/JoinPagePic4.jpeg" class="services-image-description" style="float:right;"/>
    <h4 style="text-align:center;">Diverse Experience</h4>
    <p>VCG is a diverse yet close-knit group of individuals that enjoy learning and laughing together. We pride ourselves in creating a comfortable environment where our members have the opportunity to grow both professionally and personally.</p>
    <p>VCG holds both formal events like retreats, networking events, resume workshops and more casual events like team dinners, hiking, and cliff diving.</p>
</div>

<p class="services-line"></p>

<h1 style="text-align:center;">Recruitment Timeline</h1>

<div style="padding: 30px 300px 30px 300px;">
    <table style="width:100%">
      <tr>
        <td>VCG Tabling</td>
        <td>January 16th – January 26th</td>
        <td>Sproul Plaza</td>
        <td>8:00AM – 3:00PM</td>
      </tr>
      <tr>
        <td>Info Night #1</td>
        <td>Tuesday, January 23rd</td>
        <td>Barrows 170</td>
        <td>8:00PM – 10:00PM</td>
      </tr>
      <tr>
        <td>Info Night #2</td>
        <td>Thursday, January 25th</td>
        <td>Barrows 170</td>
        <td>8:00PM – 10:00PM</td>
      </tr>
      <tr>
        <td>Application Deadline</td>
        <td>Friday, January 26th</td>
        <td>vcg.berkeley.edu/join</td>
        <td>11:59PM</td>
      </tr>
      <tr>
        <td>Group Case Interviews (Invite Only)</td>
        <td>Sunday, January 28th</td>
        <td>N/A</td>
        <td>9:00AM – 4:00PM</td>
      </tr>
      <tr>
        <td>Personal Interviews (Invite Only)</td>
        <td>January 29th – January 31st</td>
        <td>N/A</td>
        <td>N/A</td>
      </tr>
      <tr>
        <td>Social Night (Invite Only)</td>
        <td>Thursday, February 1st</td>
        <td>Pappy's</td>
        <td>7:00PM – 9:00PM</td>
      </tr>
      <tr>
        <td>Welcome Night</td>
        <td>Friday, February 2nd</td>
        <td>Rachas</td>
        <td>6:00PM – 10:00PM</td>
      </tr>
      <tr>
        <td>Spring Retreat</td>
        <td>February 9th – February 11th</td>
        <td>Lake Tahoe</td>
        <td>N/A</td>
      </tr>
    </table>
</div>

<p class="services-line"></p>

<h1 style="text-align:center;">Consultant Application</h1>

<p style="text-align:center;">The consultant application requires a one-page résumé and an optional cover letter. <br>
    The application portal is open! Applications are due Friday, January 26th at 11:59PM. <br>
    For any questions regarding recruitment, please contact us at recruit@vcg.berkeley.edu.</p>

<div style="text-align:center;padding-bottom:50px;">
    <button class="join-button">Click here to begin your application</button>
</div>

{% endblock content %}
