{% extends "base.html" %}

{% block page_title %} Services {% endblock %}

{% block content %}
<div class="home-image-container">
    <img src="/static/images/Services/ServicesPagePic1.jpg"/>
    <div class="centered">
        Services
    </div>
</div>

<div class="services-side-by-side">
    <img src="/static/images/Services/ServicesPagePic2.jpeg" class="services-image-description" style="float:left;"/>
    <h4 style="text-align:center;">UC Berkeley's Brightest</h4>
    <p>VCG equips its consultants with the tools and skills to become effective leaders in the professional world. Our intensive trainings sessions enable our consultants to develop professionally so they can apply these skills to both their client project work and individual professional careers.</p>
    <p>As a result, many of our consultants go on to pursue internships and full-time jobs at top companies in each of their respective industries.</p>
</div>

<p class="services-line"></p>

<div class="services-side-by-side">
    <img src="/static/images/Services/ServicesPagePic3.jpeg" class="services-image-description" style="float:right;"/>
    <h4 style="text-align:center;">Actionable Insights</h4>
    <p>VCG endows our consultants with the research skills and industry knowledge to handle any tough problem our clients may face. We pride ourselves in our ability to deliver valuable and creative insights to our clients.</p>
    <p>VCG prioritizes solving targeted pain points faced by our clients and delivering viable and actionable recommendations. With each project, VCG delivers acute, impactful, and professional results.</p>
</div>

<p class="services-line"></p>

<div class="services-side-by-side">
    <img src="/static/images/Services/ServicesPagePic4.jpeg" class="services-image-description" style="float:left;"/>
    <h4 style="text-align:center;">Project Structure</h4>
    <p>VCG engages with its clients on 12 to 14 week long projects. Each team is assigned a project leader, 4-6 consultants, and 1-2 senior advisors. We regularly meet and deliberate with all of our clients to keep our work consistently relevant and as effectual as possible.</p>
    <p>In addition to our regular engagement, VCG consulting teams compile and present at least two formal deliverables. Additional midpoint deliverables can also be scheduled at our client's request.</p>
</div>

<p class="services-line"></p>

<h1 style="text-align:center;">Client Testimonials</h1>

<div class="services-side-by-side">
    <img src="/static/images/Services/Testimonials/Microsoft.png" class="services-image-testimonials"/>
    <p>“VCG is professional, committed, prepared and articulate. Their deliverables reflected strong teamwork. They were respectful of their client’s time by providing agendas, pre-read and always asked for feedback to ensure they were delivering on expectations. I appreciate their personal investment in their professional development which was evident in their deliverables and recommendations. We will leverage all of their work to make marked improvements in our business.”</p>
    <p style="text-align:right;">— Julie Zunker, Chief of Staff, Business and Corporate Responsibility at Microsoft</p>
</div>

<div class="services-side-by-side">
    <img src="/static/images/Services/Testimonials/Linkedin.png" class="services-image-testimonials"/>
    <p>“VCG far surpassed our expectations. We gave the team two very different questions to solve; one was clearly definable while the other was quite ambiguous. They did an excellent job of using the numerous resources available to them to tailor their answers to each question extremely well. We would absolutely recommend them to colleagues in the future.”</p>
    <p style="text-align:right;">— Matt Wartenbe, Senior Launch Program Manager at LinkedIn</p>
</div>

<div class="services-side-by-side">
    <img src="/static/images/Services/Testimonials/Square.png" class="services-image-testimonials"/>
    <p>“The VCG team did an excellent job on a very tough analytical problem that our company had previously tried to crack and came up empty-handed on. The VCG team were very tenacious and taught themselves some quite advanced analytical techniques en route to answering the question. Additionally their final presentation was very slick - well thought out and put together. The team was a pleasure to work with: they were hard working, receptive to feedback and always met their deliverables. I would employ them again in the future without hesitation.”</p>
    <p style="text-align:right;">— Miles Tomlinson, Head of Support Operations at Square</p>
</div>

<div class="services-side-by-side">
    <img src="/static/images/Services/Testimonials/Dropbox.png" class="services-image-testimonials"/>
    <p>“VCG provided 3 comprehensive and well-crafted reports for Dropbox Business Marketing. The depth and quality were impressive, and the reports provided actionable feedback for us to share with the rest of our team. They required little guidance and communicated at an appropriate frequency. It was lovely working with them!”</p>
    <p style="text-align:right;">— Victoria Chin, Head of Customer Success at Dropbox</p>
</div>

<div class="services-side-by-side">
    <img src="/static/images/Services/Testimonials/Genentech.jpg" class="services-image-testimonials"/>
    <p>“Our company reached out to VCG to help develop a case study competition and VCG successfully engaged with relevant partners along the way. They synthesized research and insights to deliver a well thought and relevant business case as well as recommendations for the competition format and logistics. The team members were a pleasure to work with and we’d definitely recommend them.”</p>
    <p style="text-align:right;">— Jin Dong, Senior Market Planning Manager at Genentech</p>
</div>

{% endblock content %}
